body
{
    font: 15px/1.5, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F7F7F9;
}

/* Global */
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul
{
    margin: 0;
    padding: 0;
}

.button_sub
{
    height: 38px;
    border: #321A0D 3px solid;
    padding-left: 20px;
    padding-right: 20px;
    background: #68371E;
    color: #FFF7F4;
}

.dark
{
    padding: 15px;
    background: #CEB896;
    color: #262825;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #8E7F68 3px solid;
}

.dl-link a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    height: 38px;
    background: #68371E;
    border: #321A0D 3px solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FFEFE8;
}

.patch-note
{
    padding: 4px; 10px 4px; 10px;
    list-style-position: inside;
    list-style-type: square;
}

.step-by-step-list
{
    padding: 4px; 10px 4px; 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

.page-title
{
    font-size: 34px;
    border-top: #321A0D 3px solid;
    border-bottom: #321A0D 3px solid;
    background: #A65023;
    text-align: center;
    color: #FFFFFF;
}

.page-key
{
    padding: 15px;
    background: #CEB896;
    color: #262825;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #8E7F68 3px solid;
}

.page-key li
{
    list-style-type: none;
}

.page-key li a
{
    color: #262825;
    line-height: 1.5;
}

.page-key h3
{
    text-transform: uppercase;
    font-size: 22px;
}

.page-sections a
{
    color: #000000;
}

.page-sections h4
{
    text-decoration: underline;
    font-size: 24px;
}

.to-top
{
    border-top: #321A0D 2px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

.to-top a
{
    text-transform: uppercase;
    font-size: 10px;
    background: #68371E;
    border: #321A0D 3px solid;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #FFEFE8;
    text-decoration: none;
}

/*Header*/
header
{
    background: #CEB896;
    color: #262825;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #8E7F68 3px solid;
}

header a
{
    color: #193B7A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li
{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding
{
    float: left;
}

header #branding h1
{
    margin: 0;

}

header nav
{
    float: right;
    margin: 10px;
}

header .highlight, header .current a
{
    color: #262825;
    font-weight: bold;
}

header a:hover
{
    color: #393D38;
    font-weight: bold;
}

/*Showcase*/
#showcase
{
    border-top: #321A0D 3px solid;
    border-bottom: #321A0D 3px solid;
    min-height: 400px;
    background: #A65023;
    text-align: left;
    color: #FFFFFF;
}

#showcase h1
{
    margin-top: 80px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p
{
    font-size: 20px;
}

#newsletter
{
    padding: 15px;
    background: #F7F7F9;
    color: #0E2244;
}

#newsletter h1
{
    float: left;
}

#newsletter form
{
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*Boxes*/
#boxes
{
    margin-top: 20px;
}

#boxes .box
{
    float: left;
    text-align: left;
    width: 30%;
    min-height: 450px;
    padding: 10px;
}

#boxes .box img
{
    border: #321A0D 2px solid;
    width: 100%;
}

#boxes .box a
{
    color: #0E2244;
}

/*Sidebar*/
aside#sidebar
{
    float: right;
    width: 30%;
}

/*Main-col*/
article#main-col
{
    float: left;
    width: 65%;
}

/*Page-title*/
#page-title
{
    border: #321A0D 3px solid;
    background: #A65023;
    text-align: left;
    padding-left: 30px;
    color: #FFFFFF;
}

footer
{
    border-top: #321A0D 3px solid;
    border-bottom: #321A0D 3px solid;
    background: #A65023;
    color: #FFFFFF;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}
