body
{
    background-color:#EEEEF2;
    color:#000; 
}

a:link { color:#4b4133; }   
a:visited { color:#4b4133; } 
a:hover { background-color:#3d4749; color:#d5ded9; } 
a:active { color:#4b4133; }

#container
{
    position:absolute;
    top: 10px;
    left: 10px;
    background-color:#224EA5;
    padding: 10px;
    width: 90%;
    height: auto;
    overflow:auto;
}

#banner
{
    position:fixed;
    font-size: 40px;
    padding: 10px;
    background-color:#FFFFFF;
    border-bottom: 10px solid #224EA5;
    text-align:center;
    overflow-y: auto;
}

#navigation
{
    position:fixed;
    padding: 1px;
    left: 60px;
    right: 5px;
    font-size: 30px;
}

#leftnav
{
    position:fixed;
    float:left;
    padding: 10px;
    background-color:#FFFFFF;
    border-top: 50px solid #FFFFFF;
    border-bottom: 50px solid #FFFFFF;
    width: 20%;
    text-align:center;
    overflow-y: auto;
}

#leftnav p
{
    border-top: 1px solid #224EA5;
}

#content
{
    position:fixed;
    float:right;
    padding: 10px;
    width: 70%;
    background-color:#FFFFFF;
    overflow-y: auto;
}

ul 
{
    list-style-type:square;
}

h2
{
    margin-top: 0px;
}
